---
// Desktop component - Main container with background texture
---

<main class="desktop desktop--hidden">
  <div class="desktop-area">
    <slot />
  </div>
</main>

<style>
  @import '../styles/texture.css';
  @import '../styles/desktop.css';
</style>
